.slider {
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 100vh;
    ul {
        list-style: none;
        
        &.slides{
            position: absolute;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            transition: top 800ms;
            li {
                height: 100%;
                .img {
                    height: 100%;
                    background-size: cover;
                    background-position: 50%;

                }
            }
        }
        &.indicators {
            position: absolute;
            padding-right: 40px;
            right: 0;
            top: 60%;
            transform: translateY(-50%);
            z-index: 2;
            text-align: right;
            li {
                clear: both;
                .item {
                    position: relative;
                    margin-bottom: 16px;
                    float: right;
                    
                    &:last-child {
                        .item {
                            margin-bottom: 0
                        }
                    }
                }
                .title {
                    color: #fff;
                    cursor: pointer;
                    font-size: 16px;
                    font-family: 'SegoeUI-Bold';
                    transition: font-size 0.6s ease-out;
                }
                .mark {
                    color: #fff;
                    font-family: 'SegoeUI-Semilight';

                    // control bootatrap
                    padding: 0;
                    background-color: inherit;
                }
                .dot {
                    position: absolute;
                    top: 50%;
                    right: -20px;
                    margin-top: -5.5px;
                    margin-left: 10px;
                    width: 11px;
                    height: 11px;
                    background: #fff;
                    border-radius: 50%;
                }
                .progress {
                    position: relative;
                    display: inline-block;
                    width: 100%;
                    height: 2px;
                    margin: 8px 0;
                    background: rgba(255, 255, 255, .5);
                }

                &.active {
                    .title {
                        transition: font-size 0.6s ease-in;
                        font-size: 30px;
                        font-family: 'SegoeUI-Light';
                        .progress {
                            .fill {
                                height: 100%;
                                background: #fff;

                            }
                        }
                    }
                }
            }
        }
    }
}

figure {
    padding: 0;
    margin: 0;

    figcaption {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        color: $white;
        padding: 10px;
        /* IE 8 */
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        /* IE 5-7 */
        filter: alpha(opacity=50);
        /* Netscape */
        -moz-opacity: 0.5;
        /* Safari 1.x */
        -khtml-opacity: 0.5;
        /* Good browsers */
        opacity: 0.5;

        h2 {
            color: $white
        }
      }  
}

.single-owl {
    background: #ffffff;
    text-align: center;
    transition: all 0.5s ease 0s;
    padding-top: 15px;
    height: 100%; 

    .images {
        width: 190px;
        height: 190px;
        margin: auto;
        margin-bottom: 10px;
        overflow: hidden;
        position: relative;
        padding: 10px;
        border: 1px dashed #dddddd;
        border-radius: 100%;
        transition: all 0.5s ease 0s;

        .image-frame {
            position: relative;
            overflow: hidden;
            border-radius: 50%;

            &:after{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                background: rgba(0, 0, 0, 0.7);
                content: "";
                transform: scale(0);
                opacity: 0;
                visibility: hidden;
                transition: all 0.5s ease 0s;
            }

            img {
                border: 1px dashed #dddddd;
            }
        }
    }

    .owl-details {
        h3 {
            margin-bottom: 0px;
            font-size: 18px;
        }
    }
}

.carousel-3d-container {
    .carousel-3d-slider {
        .current {
            height: 100%;
            width: 100%;
            left:0;
            right: 0;
            top: 0;
            bottom: 0;
            position: absolute;
            background: linear-gradient(124deg, #fa7d77, #f36493, #3fb95f, #ffb76d, #aed67e, #1ddde8, #536bbb, #c66cc5, #738e99);
            background-size: 1800% 1800%;

            -webkit-animation: rainbow 18s ease infinite;
            -z-animation: rainbow 18s ease infinite;
            -o-animation: rainbow 18s ease infinite;
            animation: rainbow 18s ease infinite;
        
            .single-owl {
                background: transparent
            }
        }

            @-webkit-keyframes rainbow {
                0%{background-position:0% 82%}
                50%{background-position:100% 19%}
                100%{background-position:0% 82%}
            }
            @-moz-keyframes rainbow {
                0%{background-position:0% 82%}
                50%{background-position:100% 19%}
                100%{background-position:0% 82%}
            }
            @-o-keyframes rainbow {
                0%{background-position:0% 82%}
                50%{background-position:100% 19%}
                100%{background-position:0% 82%}
            }
            @keyframes rainbow { 
                0%{background-position:0% 82%}
                50%{background-position:100% 19%}
                100%{background-position:0% 82%}

        }
    }
}