.header-toolbar {
    .header-toolbar-icon {
        margin-top: 5px;
        font-size: 24px;
        position: inherit;
    }
    .count {
        background-color: $pink_dark_5;
        border-radius: 50%;
        padding: 3px 5px;
        position: absolute;
        bottom: 20px;
        right: 95px;
    }
}

.sticky {
    .header-toolbar {
        .header-toolbar-icon {
            color: $grey_dark_5;
        }
        .count {
            bottom: 15px;
            right: 90px;
        }
    }
}

.slider-item {
    .box_grid {
        .wish_bt::after {
            content: "";
        }
    }
}
