.profile-image {
    .card_team_member {
        cursor: pointer;
        margin: 10px;
        border: none;
        border-radius: 5px;
        -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        height: 100%;

        .card_image {
            position: relative;
            overflow: hidden;

            img {
                transition: all 0.25s;
                width: 100%; 
                display: block;
            }

            .social_links {
                position: absolute;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.7);
                color: white;
                padding: 10px 20px;
                opacity: 0;
                transform: translateX(-50%);
                left: 50%;
                display: flex;
                -webkit-transition: all 0.25s;
                transition: all 0.25s;

                a {
                    padding: 6px;
                    margin-right: 13px;

                    &:hover {
                        color: #ef5b5b;
                    }
                }
            }
        }

        .card_body {
            padding: 30px 15px;
            text-align: center;
            -webkit-transition: all 0.25s;
            transition: all 0.25s;

            .card_title {
                margin-bottom: 3px;
                font-size: 20px;
                transition: all 0.25s;
                font-family: "Poppins-SemiBold";
                color: #111;
                font-weight: 600;

                &:hover {
                    color: #fc5b62;
                }
            }
        }

        &:hover {
            .card_image {
                img {
                    transform: scale(1.1) rotate(-3deg);
                }

                .social_links {
                    opacity: 1;
                }
            }
        }
    }
}


.user-details-list {
    .container {
        padding: 0 10px;

        button,
        button::after {
        -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
            transition: all 0.3s;
        }

        button {
            background: none;
            border: 1px solid #eab1b2;;
            border-radius: 5px;
            color: #fc5b62;
            display: block;
            font-size: 1.6em;
            position: relative;
            margin: 10px auto;
            width: 100%;
            cursor: pointer;

            &::after {
                -webkit-transition: all 0.3s;
                -moz-transition: all 0.3s;
                -o-transition: all 0.3s;
                transition: all 0.3s;
            }

            &::before, &::after {
                background: #fc5b62;
                content: '';
                position: absolute;
                z-index: -1;
            }

            &:hover {
                color: #111;
            }
        }

        .btn-1 {
            &::after {
                height: 0;
                left: 0;
                top: 0;
                width: 100%;
            }

            &:hover::after {
                height: 100%;
            }
        }
        
        .btn-2 {
            &::after {
                height: 100%;
                left: 0;
                top: 0;
                width: 0;
            }

            &:hover::after {
                width: 100%;
              }
        }

        .btn-3 {
            &::after {
                height: 0;
                left: 50%;
                top: 50%;
                width: 0;
            }

            &:hover::after {
                height: 100%;
                left: 0;
                top: 0;
                width: 100%;
              }
        }

        .btn-4 {
            &::before {
                height: 100%;
                left: 0;
                top: 0;
                width: 100%;
            }

            &::after {
                background: #fff;
                height: 100%;
                left: 0;
                top: 0;
                width: 100%;
            }

            &:hover::after {
                height: 0;
                left: 50%;
                top: 50%;
                width: 0;
              }
        }

        .btn-5 {
            overflow: hidden;

            &::after {
                left: -35%;
                top: 0;
                transform: skew(50deg);
                transition-duration: 0.6s;
                transform-origin: top left;
                width: 0;
            }

            &:hover::after {
                height: 100%;
                width: 135%;
              }
        }
    }
}